html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
input[type=text], select, input[type=email],input[type=password],input[type=file], input[type=number], input[type=date]
{
  width: 100%;
  padding: 8px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition:.4s;
}
input[type=text]:focus, input[type=number]:focus{
border-color:dodgerblue;
box-shadow: 0 0 8px 0 dodgerblue;

}
.twalibu{background-image: url("./img/twalibu.jpg");background-size: cover;}
.petro{background-image: url("./img/petro.jpg");background-size: cover;}
.salim{background-image: url("./img/paul.jpg");background-size: cover;}
.juma{
  background-image: url("./img/juma.jpg");background-size: cover;
}
#jela{background-color: darksalmon;color: white;}
.btn{padding: 8px 10px;margin:1px;background-color: green;text-align: center;}
.btn-log{padding: 8px 10px;;margin:1px;background-color: blue; color:white;}
.block{display:block;width:100%;}
input[type=submit]
{
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=reset]
{
  width: 50%;
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.md{position: fixed;
  transition: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition-duration: 4s;
  transform-style: flat;
  transition-delay: 0.5s;
  padding-top: 150px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;}
.me {

color:#336!important;background-color:#fff!important;
  border-radius: 9px;
  box-sizing:border-box;
  border:solid;
  border-color:lime blue green orange;
  /* background-color: #f2f2fa; */
  padding: 10px;
}
.inbobo
{
  width: 100px;
  border: 15px solid green;
  padding: 15px;
  margin: 15px;
}
.panell{

border-radius: 4px;
border: solid;
box-sizing: border-box;
border-color: yellow green red lime;
margin-top:16px;margin-bottom:16px;
color:#fff!important;background-color:#f44336!important;
padding:0.01em 16px;
}
.conts{
padding:0.01em 16px;
}
.conts:after,.conts:before,.panell:after,.panell:before{content:"";display:table;clear:both}
label{
-webkit-text-stroke-width: 2px;
text-align: center;
float: right;
padding: 4px;
font-size: 12px;
margin:  8px;;
background-color: #f2f2f2;
color: #001;
}
.nav-left{overflow: hidden;float: left;}
.nav-right{overflow: hidden;float: right;}
#leftn{float: left;height: max-content;width: 120px;background-color: rgb(55, 167, 219);display: block;flex-direction: row;}
.lg{width:50%;}
/*modal dialogs*/
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 55%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    opacity: 0.63;
  }
  button a{text-decoration: none;}
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  .circle{border-radius: 50%;align-self: center;float: right;display: flex;text-align: center;padding: 4px;justify-content: center;}
  /* The Close Button */
  .close , .add{
    color: white;
    float: right;
    font-size: 20px;
    font-weight: bold;
  }
  .add{color: rgb(7, 7, 7);
}
  .close:hover,
  .close:focus {
    color: rgb(34, 39, 39);
    text-decoration: none;
    cursor: pointer;
  }
  .add:hover,
  .add:focus {
    color: #04d3f8;
    text-decoration: none;
    cursor: pointer;
  }
  .form-group {
    margin-bottom: 15px;
  }

  .modal-header {
    padding: 2px 16px;
    height: 60px;
    /* opacity: 0.9; */
  background-color: rgba(199, 187, 221, 0.9);background-color: cornflowerblue;
    color: white;
  }
  .modal-body {padding: 2px 16px;}
  .modal-footer {
  height: 30px;
    padding: 2px 16px;
    background-color: rgba(174, 176, 190, 0.89);
    color: rgb(3, 3, 3);
  }
  .inner{display :flex;flex-direction: column-reverse;border-bottom: 2px solid rgba(199, 187, 221, 0.9);}
  .flat{width: 100%;}
  .mid{width: 100px;height: 100px;}
  .sm{width: 50px;height: 50px;}
  .back{background: url("./img/loan2.webp");background-size: cover;width: 100%;height: 460px;font-family:'Segoe UI',"Tahoma", "Geneva", "Verdana", "sans-serif";color:wheat;font-size: 18px;text-align: center;}
  
  .flex{display:flex;}
.right{padding: 2px 16px;margin: 0 12px;float: right;display: block;width: 30%;height: 25%;}.left{padding: 2px 16px;margin: 0 12px;float: left;display: block;width: 30%;height: 25%;}  
  /* BUTTONS*/
  .btn{color:#fff;text-decoration: none;padding: 8 25px;border-radius: 25px;margin: 0 10px;}
  .ba{background: url("./img/payment.PNG");background-size: cover;width: 100%;height: 420px;font-family:'Segoe UI',"Tahoma", "Geneva", "Verdana", "sans-serif";}
  .btn-cool{color:#fff;text-decoration: none;padding: 8 25px;border-radius: 5px;margin: 0 10px;padding: 8px 10px;margin:1px;background-color: rgb(50, 149, 214);text-align: center;}
.primary{background-color: #2196F3;}
.danger{background-color: #E91E63;}
.dark{background-color: #607D88;color: mintcream;}
.success{background-color: #4CAF50;}
.action{background-color: #CDDC39;}
.default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;}
  .opacit{opacity: 0.4;}
/*BACKGROUNDS*/
.joi{background-color: #f2f2f2;}
.lightBlue{background-color: #ADD8E6;}
.darkBlue{background-color: #0000A0;}
.margenta{background-color: #FF00FF;}
.lime{background-color: #00FF00;}
.cyan{background-color: #00FFFF;}
.silver{background-color: silver;}
.gray{background-color: gray;}
.brown{background-color: #A52A2A;}
.maroon{background-color: #800000;}
.green{background-color: #008000;}
.black{background-color: #000000;}
.grayCloud{background-color: #B6B6B4;}
.platnum{background-color: #E5E4E2;}
.grayGoose{background-color: #D1D0CE;}
.bluegray{background-color: #98AFC7;}
.ocean{background-color: #2B65EC;}
.ribbon{background-color: #306EFF;}
.butterfly{background-color: #38ACEC;}
.dodgerBlue{background-color: #1589FF;}
.seaBlue{background-color: #C2DFFF;}
.angelBlue{background-color: #B7CEEC;}
.azure{background-color: #F0FFFF;}
.lagoonBlue{background-color: #F0FFFF;}
.fernGreen{background-color: #667C26;}
.kellyGreen{background-color: #4CC552;}
.darkSeaGreen{background-color: #8BB381;}
.body{background: #A2B0FF;}
.algae{background-color:#64E986;}
.milk{background-color: #FEFCFF;}
.mauve{background-color: #E0B0FF;}
.periwinkle{background-color: #E9CFEC;}
.mimosa{background-color: #9E7BFF;}
.sageBush{background-color: #7A5DC7;}
.viola{background-color: #7E587E;}
.indigo{background-color: #4B0082;}
.plum{background-color: #B93B8F;}
.flamingo{background-color: #F9A7B0;}
.velvet{background-color: #7D0552;}
.chilli{background-color: #C11B17;}
.loveRed{background-color: #E41B17;}
.ferrari{background-color: #F70D1A;}
.lava{background-color: #E42217;}
.coralLight{background-color: #E77471;}
.armyBrown{background-color: #827B60;}
.copper{background-color: #B87333;}
.bullet{background-color: #AF9B60;}
.khaki{background-color: #ADA96E;}
.sand{background-color:#C2B280;}
.gold{background-color: #FDD017;}
.deepPeach{background-color: #FFCBA4;}
.beeYellow{background-color: #E9AB17;}
.peach{background-color: #FFE5B4;}
.vanila{background-color: #F3E5AB;}
.blonde{background-color: #FBF6D9;}
.cream{background-color: #FFFFCC;}
.beige{background-color:#F5F5DC;}
.jade{background-color: #C3FDB8;}
.jadeGreen{background-color: #5EFB6E;}
.saladGreen{background-color: #A1C935;}
.frogGreen{background-color: #99C68E;}
.dragonSea{background-color: #6AFB92;}
.transparent{background: rgba(236, 231, 231, 0.4);}

/*
TABLE CSS
Table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

Table td, Table th {
  border: 1px solid #ddd;
  padding: 8px;
}
Table tr:nth-child(odd){background-color: #A52A2A;}
Table tr:nth-child(even){background-color: #A52ACA;}
Table tr:nth-parent(odd){background-color: #A52A7A;}
Table tr:hover {background-color: #ddd;}
Table th {
  padding-top: px;
  padding-bottom: px;
  text-align: ;
  background-color: #FEFCFF;
  color: #COCOCO;
}*/

/*PAYMENT TABLE*/
table {
  font-family: 'Comic Sans MS', Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;border-radius: 5px;
}

 table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}
#payment tr:nth-child(even){background-color: #f2f2f2;}
#payment tr:nth-child(odd){color: #635a63;background-color: #ddd;}
#payment tr:hover {background-color: #a59ca5;}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ADD8E6;
  color: white;
}

/*MODAL DIALOGS*/
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 35%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  opacity: 0.9;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
/* The Close Button */
.close , .add{
  color: white;
  float: right;
  font-size: 20px;
  font-weight: bold;
}
.add{color: rgb(7, 7, 7);
}
.close:hover,
.close:focus {
  color: rgb(34, 39, 39);
  text-decoration: none;
  cursor: pointer;
}
.add:hover,
.add:focus {
  color: #04d3f8;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  padding: 12px;
  border-radius: 3px;
  border-bottom: 3px solid #333;
  height: 60px ;
  /* opacity: 0.9; */
background-color: rgba(199, 187, 221, 0.9);background-color: cornflowerblue;
  color: white;
}

.modal-body {padding: 2px 16px;}
.modal-footer {
  text-align: right;
  border-top: 1px solid #e5e5e5;
height: 40px;
  padding: 2px 16px;
  background-color: rgba(174, 176, 190, 0.4);
  color: 
  rgb(3, 3, 3);
}
.tz{background-image: url("./img/Tanzania.png");background-size: cover;}
.pad{padding-left: 12px;padding-right: 12px;}
.modal {
  position: fixed;
  transition: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition-duration: 4s;
  transform-style: flat;
  transition-delay: 0.5s;
  padding-top: 150px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

/*BODY */
*{padding: 0;margin: 0;box-sizing: border-box;}
		body{padding: 2px;margin: 2px;background: #A2B0FF;background-position: center;}
		header{padding: 8px 4px 8px 4px;margin: 2px;align-self: center;justify-content: space-around;background: #8467D7;width: 100%;height: 40px;font-weight: 4px; font-family: 'Comic Sans MS';border-radius: 7px;background-color: cornflowerblue;height: 60px;}
		.nav-holder{display:block;position:absolute;right:0;top:0;}
    .navbar{top: 0;justify-content: space-between;border: 2px dotted grey;height: 100px;margin-top: 0px;}
		h4{text-align:  center;}
		ul{margin: 2px;display: inline-block;}
		ul li{width: 120px;background:;display: inline-flex;list-style: none;}
		ul li a{text-decoration: none;color:#eee;cursor: pointer;display:block;}
		ul li a:hover{color:#aaa;}
		ul li:hover{background: ;}
		footer{bottom: 0;height: 40px;display:flex;border: 2px dotted grey;}
		.about_us{float: left;width:50%;bottom: 0;border: 1px solid #124;margin:4px;}
		.contact{float:right;width:50%;bottom: 0;border: 1px solid #124;margin:4px;}
		.a_holder{width: 100%;background: #CDE06e;padding:8px; }.inner{padding:8px;}
		.c_holder{width: 100%;background: #CD126e;padding: 8px;}



/*ALERTS*/

  .alert {
    width:45%;
    z-index: 1;
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    /* z-index: 1050; */
  }
  
  .alert.success {background-color: #4CAF50;}
  .alert.info {background-color: #2196F3;}
  .alert.warning {background-color: #ff9800;}
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
.btn-lg{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.center{
  margin-left: auto;margin-right: auto;position: relative;
}
  .box-md{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    
    padding: 9px;
    border-radius: 3px;
  }
  

